*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

/*  UTILITY  */

.debug-1{
    background-color:rgba(255, 0, 0, .25);
    border: 1px solid red;
}

.debug-2{
    background-color:rgba(0, 255, 0, .25);
    border: 1px solid greenyellow;
}

.debug-3{
    background-color:rgba(0, 0, 255, .25);
    border: 1px solid aqua;
}


/*  COMPONENTS  */

.main-container{
    /* width: 90%; */
    max-width: 95vw;
    margin: 0 auto;
}
.small-container{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}
.big-container{
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

.f-center{
    align-items: center;
}
.f-wrap{
    flex-wrap: wrap;
}


/*  BUTTON  */

.btn{
    border: none;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 5px;
    cursor: pointer;
}

.btn.big{
    padding: 10px 25px;
}

.btn.empty{
    border: 2px solid coral;
    background-color: transparent;
}


/*  HEADER  */

header{
    height: 50px;
    background-color: rgb(0, 0, 0);
}

/*  /HEADER  */

.nav-menu{
    margin-left: auto;
    padding-right: 20px; /*So che è sbagliato ma attaccato a dx non mi piace*/
    color: white;
}

.nav-menu .btn{
    background-color: #4A4A4A;
    border-radius: 5px;
}

.nav-menu i.fa-grip{
    margin-right: 5px;
}

/*  MAIN  */

main{
    background-color: rgb(0, 0, 0);
    overflow: auto;
}

main .main-container{
    height: calc(100vh - 130px);
    justify-content: center;
}

.avatar{
    display: flex;
    position: relative;
    margin-right: 10px;
    margin-bottom: 10px;
}

.avatar img{
    height: 50%%;
}

.status{
    position: absolute;
    bottom: 2px;
    left: 0px;
    color: white;
    background-color: rgba(100, 113, 127, .5);
    padding: 5px;
}

.status i{
    font-weight: bold;
}
/*  /MAIN  */


/*  FOOTER  */

footer{
    justify-content: space-between;
    position: relative;
    height: 80px;
    background-color: #222222;
}

footer i{
    color: white;
    margin-bottom: 10px;
}

footer span{
    display: block;
    font-size: .8rem;
}

.foot-left{
    flex-direction: row;
}

.box-icon{
    flex-direction: column;
    color: white;
    margin-left: 20px;
}

.box-icon i{
    font-size: 1.5rem;
}
.main-box-icon i.fa-chevron-up{
    margin-left: 10px;
    font-size: .7rem;
}


.active{
    color: green;
}


.foot-right{
    color: red;
    background-color: #4A4A4A;
    width: 120px;
    height: 80px;
    line-height: 80px;
    text-align: center;
}


/*  /FOOTER  */